<section class="todo-component-container">
    <app-search-task (searchTerm)="getSearchTerm($event)"></app-search-task>
    <section fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start">
        <mat-list *ngFor="let task of tasks()" fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-list-item class="mat-list-item_container task-title" [ngClass]="{ 'strikethrough': task.status }">
                <section>
                    <input type="checkbox" [checked]="task.status" (change)="toggleTaskCompletion(task.id)" />
                    <p>{{task.title}} </p>
                    <section>
                        <button matSuffix mat-icon-button (click)="editTask(task)">
                            <mat-icon matSuffix>edit</mat-icon>
                        </button>
                        <button matSuffix mat-icon-button (click)="deleteTask(task.id)">
                            <mat-icon matSuffix>delete</mat-icon>
                        </button>
                    </section>
                </section>
            </mat-list-item>
        </mat-list>
    </section>
    <footer fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button (click)="addTask()" matTooltip="add a task" class="action-add">
            <mat-icon>add</mat-icon>
        </button>
        <button matSuffix mat-icon-button (click)="getCompletedTasks()" matTooltip="completed tasks"
            class="action-completed">
            <mat-icon matBadge="{{signalService.completedCount()}}" aria-hidden="false" aria-label="task icon" fontIcon="task"></mat-icon>
        </button>
        <button mat-icon-button (click)="getPendingTasks()" matTooltip="pending tasks"
            class="action-pending">
            <mat-icon matBadge="{{signalService.pendingCount()}}" aria-hidden="false" aria-label="pending icon" fontIcon="task"></mat-icon>
        </button>
        <button matSuffix mat-icon-button (click)="refreshTasks()" matTooltip="all tasks"
            class="action-refresh">
            <mat-icon matSuffix aria-hidden="false" aria-label="refresh icon" fontIcon="refresh"></mat-icon>
        </button>
    </footer>
</section>