.todo-component-container {
    .form-input {
        display: flex;
    }

    .strikethrough {
        text-decoration: line-through;
        color: grey; 
    }
    .mat-list-item_container{
        margin-right: 10px; 
        border: 1px solid grey; 
        border-radius: 10px; 
        height: auto;

        section{
            display: flex; 
            align-items: center;
        }
        input{
            margin-right: 10px;
        }
        p{
            flex-grow: 4;
        }
    }
    footer {
    
        button {
            color: white;
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }

        .action-add {
            background: #f59864;
        }

        .action-completed {
            background: #24680f;
        }

        .action-pending {
            background: #bd5113;
        }

        .action-refresh {
            background: #10536f;
        }          
    }

    @media (max-width: 566px) {
        footer {
            margin-top: 20px;
        }
    }

    @media (min-width: 567px) {
        footer {
            margin-top: 20px;
        }
    }

    @media (min-width: 768px) {
        footer {
            margin-top: 10px;
        }
    }

    @media (min-width: 992px) {
        footer {
            margin-top: 10px;
        }
    }

}